@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Poppins', sans-serif;
  --color-primary: #05b6d3;
  --color-secondary: #EF863E;
}

/* 1. Define the utility first */
@utility model-box {
  @apply w-[90vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-auto z-50 outline-none;
}

/* 2. Target the scrollbar of the model-box utility specifically */
[class*="model-box"]::-webkit-scrollbar {
  width: 6px !important;
  display: block !important;
}

[class*="model-box"]::-webkit-scrollbar-thumb {
  background-color: #a068d4 !important; /* Your Purple */
  border-radius: 10px;
}

[class*="model-box"]::-webkit-scrollbar-track {
  background-color: #3a1a57 !important; /* Your Dark Track */
  border-radius: 10px;
}

/* 3. For Firefox Support */
[class*="model-box"] {
  scrollbar-width: thin;
  scrollbar-color: #a068d4 #3a1a57;
}
/* 2. Define Utilities */
@utility input-box {
  @apply w-full text-sm bg-slate-100 rounded px-5 py-3 mb-4 outline-none;
}

@utility btn-primary {
  @apply w-full bg-cyan-500 shadow-lg p-[10px] rounded-full my-1 text-white hover:bg-cyan-600 transition-all;
}

@utility icon-btn {
  @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500 transition-all;
}

