@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-display: 'Poppins', sans-serif;

  --color-primary: #05b6d3;
  --color-secondary: #EF863E;
}

@utility input-box {
  @apply w-full text-sm bg-violet-600/5 rounded px-5 py-3 mb-4 outline-none;
}

@utility btn-primary {
  @apply w-full bg-violet-400 shadow-lg shadow-violet-200/50 p-[10px] rounded-full my-1 text-white hover:bg-violet-600;
}

@utility login-ui-box {
  @apply w-80 h-[450px] rounded-full bg-violet-400 absolute rotate-45}